* {
  padding: 0px;
  margin: 0px;
}

body{
  box-sizing: border-box;
  background-color: black;
}

body #contenido-principal{
  background-color: #121212;
  grid-column-start: 2;
  grid-column-end: 4;
  overflow-y: auto;
  padding: 16px;
}

a{
  text-decoration: none;
  color: inherit;
}

#app{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}