* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  background-color: black;
  display: flex; 
  flex-direction: column; 
  gap: 10px;
}

#contenido-principal {
  background-color: #121212
}

a{
  text-decoration: none;
  color: inherit;
}