*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

.contenedor{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card{
  position: relative;
  filter: grayscale();
  transition-duration: 1s;
  /* animation-duration: 1s;
  animation-name: entrada;
  animation-timing-function: ease-in-out; */
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card p{
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif
}

.card:nth-of-type(1){
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.card:hover{
  z-index: 1;
  filter: grayscale(0);
  transform: translate(0,5px) scale(1.05) rotate(10deg);
  box-shadow: 0 0 10px black;
}