$icon-bg: #282828;
$icon-color: #FFFFFF;
$hover-bg: #404040;

.redesSociales {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px 0;
}

.contentImgRedSocial {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 45px; 
  height: 45px; 
  
  border-radius: 50%; 
  background-color: $icon-bg;
  cursor: pointer;
  
  transition: background-color 0.3s ease;

  .foto {
  width: 20px;
  height: 20px;
}

  &:hover {
    background-color: $hover-bg;
  }
}