// 1. ABSTRACTS / UTILS (Variables, Mixins, Functions)
@import "utils/variables";
@import "utils/mixins";
@import "utils/functions";

// 2. COMPONENTS (Buttons, Cards, Modals)
@import 'components/icons';
@import 'components/buttons';
@import 'components/linkNav';
@import 'components/searchBar';

// 4. LAYOUT (Header, Footer, Grid, navbar)
@import 'layouts/navbar';